<h1>Update Product</h1>

<%= simple_form_for([:admin, @product], html: { multipart: true }) do |f| %>
  <%= f.input :name %>
  <%= f.input :original_price %>
  <%= f.input :discount_price %>
  <%= f.input :image %>
  <%= f.submit "Update Product", class: "btn btn-primary" %>
  <%= link_to 'Back', admin_products_path, class: "btn btn-secondary" %>
<% end %>
