<!--Main Navigation-->
<header>

  <!-- Navbar -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-light white scrolling-navbar">
    <div class="container">

      <!-- Brand -->
      <%= link_to root_url, class: "navbar-brand waves-effect" do %>
        <strong>Membership System</strong>
      <% end %>

      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <% unless current_user.premium %>
              <li class="nav-item">
                <%= link_to "Upgrade to Premium", upgrade_information_users_url, class: "nav-link waves-effect" %>
              </li>
            <% end %>

            <% if current_user.admin %>
              <li class="nav-item">
                <%= link_to "Backend", admin_products_url, class: "nav-link waves-effect" %>
              </li>
            <% end %>
          <% end %>
        </ul>

        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to destroy_user_session_url, method: :delete, class: "nav-link waves-effect" do %>
                Sign out ( <%= current_user.email %> )
              <% end %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign in ", new_user_session_url, class: "nav-link waves-effect" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_url, class: "nav-link waves-effect" %>
            </li>
          <% end %>
        </ul>

      </div>

    </div>
  </nav>
  <!-- Navbar -->

</header>
<!--Main Navigation-->
